
body{
    background: #ddd;
}
#chat{
    min-height: 200px;
}
#chatWrap {
    float: left;
    border: 1px solid #aaa;
    margin-right: 20px;
    overflow: auto;
}
#contentWrap {
    display: none;
}
.whisper {
    color: green;
}
.error {
    color: red;
}
